<div id="about" class="panel content">
  <h2 class="title">About</h2>
  <br>
  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-person"><span>The Person</span></li>
      <li class="link select-engineer"><span>The Engineer</span></li>
      <li class="link select-designer"><span>The Designer</span></li>
      <li class="link select-athlete"><span>The Athlete</span></li>
    </ul>
    <br>
    <ul>
      <li>
	<div class="viewable_content person selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">

	    BULLSHIT
	    BULLSHIT
	    BULLSHIT

	    BULLSHIT

	    BULLSHIT

	    BULLSHIT
	  </div>
	</div>
      </li>
      <li>
	<div class="viewable_content engineer">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    FUCK SHIT

	  </div>
	</div>
      </li>
      <ul>

  </div>
</div>
