<div id="about" class="panel content">
  <h2 class="title">About</h2>
  <br>
  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-person selected"><div class="logo_hook"></div><span>The Person</span></li>
      <li class="link select-engineer"><div class="logo_hook"></div><span>The Engineer</span></li>
      <li class="link select-designer"><div class="logo_hook"></div><span>The Designer</span></li>

    </ul>
    <br>
    <ul>

<!-- PERSON -->
      <li>
	<div class="viewable_content person selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    Personal information.  Who, where, background, contact.
	  </div>
	</div>
      </li>

<!-- Engineer -->
      <li>
	<div class="viewable_content engineer">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    About my engineering interest.

	  </div>
	</div>
      </li>
<!-- Designer -->

	<div class="viewable_content designer">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    About my design interest.
	  </div>
	</div>
      </li>


      <ul>

  </div>
</div>
