<div id="about" class="panel content">
  <h2 class="title">About</h2>
  <br>
  
<div>
  <div class="image">
  </div>

  <div class="info">
    <p>Originally from Boston, I moved to the Bay Area to study at Stanford for my Bachelor's Degree in Computer Science focusing on Artificial Intelligence.  Currently I'm finishing my Master's Degree in Computer Science at Stanford focusing on Human Computer Interaction.  
    </p>



  </div>
  </div>
</div>
