<div id="about" class="panel content">
  <h2 class="title">About</h2>
  <br>
  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-person selected"><div class="logo_hook"></div><span>The Person</span></li>
      <li class="link select-engineer"><div class="logo_hook"></div><span>The Engineer</span></li>
      <li class="link select-designer"><div class="logo_hook"></div><span>The Designer</span></li>

    </ul>
    <br>
    <ul>

      <!-- PERSON -->
      <li>
	<div class="viewable_content person selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <p>Originally from Boston, I moved to the Bay Area to study at Stanford for my Bachelors Degree in Computer Science focusing in Artificial Intelligence.  It's been six years since I arrived and as each year passes, the more I love the atosphere, people and weather.  The hills behind Stanford are perfect for cycling and the aclectic mix of culture and individualism in San Francisco is energizing. Currently I'm finishing up my Master's Degree in Computer Science at Stanford focusing in Human Computer Interaction.</p>
	    <br>

	    <p>If you were to meet me, I hope you'd be impressed by my infectious laughter, witty puns and darn good looks.  I mainly hope this so that I can trick you into becoming my friend before you find out my horrible, horrible secret, muhahahaha.  In my free time, I enjoy watching the top 250 movies on IMDB, making funny sounds and faces at friends and devising useless but beautiful objects.
	    </p>



	  </div>
	</div>
      </li>

      <!-- Engineer -->
      <li>
	<div class="viewable_content engineer">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <p> My enthusasim for engineering started with Legos.  I remember recieving a Lego replica kit of Boba Fett's Slave I spaceship as a Christmas gift and instantly assembling the blocks. When I finished, I wasn't interested in playing with the ship, but instead I wanted to use my other Legos to devise an even more elaborate vessel.  Years later, this desire to build led me to my high school robotics team where again I assembled Legos, but this time with computer brains attached.  We programmed our small Lego robots to autonomously collect objects in an arena and I realized that I wanted to spend my future continuing to solve these engineering challenges.</p>
	    <br>
	    <p>
At Stanford, I spent three years working in an artificial intelligence research lab working with robots to solve a variety of problems.  Here, I found a passion for using machine learing techniques on large data and developing algorithms to perform complex tasks.  Currently I'm looking for positions where I can combine my love of engineering with my newly found enjoyment of design. 
	      </p>


	  </div>
	</div>
      </li>
      <!-- Designer -->

      <div class="viewable_content designer">
	
	<div class="image">
	</div>

	<div class="info">
	    <p>My focus has always been on engineering, however even as a small boy palying with Legos, I had a flair for inventive thinking and design.  I would frequently draw and paint my creative ideas for innovative products.  My parents still joke with me about my grand designs to develop flying pants.  I can still see them now, stylish blue jeans paired with a snug belt that doubled as a convinient, flight-based transportation device. </p>
<br>

	    <p>It has been a while since I've been able to truly embrace my creative side, but luckily through the wonders of graduate school, I've incorporated my interest in design with my passion for engineering.  My degree in Human Computer Interaction has allowed me to develop my skills as a user interface designer and explore areas such as photography, painting and woodworking.</p>
	</div>
      </div>
</li>


<ul>

</div>
</div>
