<div id="header" data-role="header">

  <ul id="navigation">
    <li><a id="link-home" href="/home/index"> <%= image_tag "icons/logo.png", {:height=>"100%", :width=>"100%"} %></a></li>
    <li><a id="link-projects" href="/home/projects"><%= image_tag "icons/projects.png", {:height=>"100%", :width=>"100%"} %> Projects</a></li>
    <li><a id="link-work" href="/home/work"><%= image_tag "icons/work.png", {:height=>"100%", :width=>"100%"} %> Work</a></li>
    <li><a id="link-about" href="/home/about"><%= image_tag "icons/about.png", {:height=>"100%", :width=>"100%"} %> About</a></li>
  </ul>
</div>
