<div id="home" class="panel content">
        <ul class="background-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
        </ul>

	<div class="title">
<div class="logo_hook"></div><div>Flying Trains</div>
	  <p>
	    I am a designer and engineer who started out with childhood dreams of flying pants and speeding trains. 
	  </p>
	</div>
</div>
