<div id="projects" class="panel content">

  <h2 class="title">Projects</h2>
  <br>
  <div class="content_viewer">
  <ul class="selectable_nav">
    <li class="select-all selected"><div class="logo_hook"></div><span>view all</span></li>
    <li class="select-engineering"><div class="logo_hook"></div><span>Engineering</span></li>
    <li class="select-design"><div class="logo_hook"></div><span>Design</span></li>
    <li class="select-personal"><div class="logo_hook"></div><span>Personal</span></li>
  </ul>
  </div>
  <script type="text/javascript" >
    initTiles();
  </script>
  <br>

    <ul id="project_list" >
      <li class="all engineering">
	<a id="link-pcr" href="#project-pcr" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Photo Character Recognition
	</div>
      </li>

      <li class="all engineering">
	<a id="link-elevator" href="#project-elevator" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Elevator Robot
	</div>
      </li>


      <li class="all engineering">
	<a id="link-cashier" href="#project-cashier" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Cashier Robot
	</div>
      </li>

      <li class="all engineering">
	<a id="link-flows" href="#project-flows" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Palantir Flows
	</div>
      </li>

      <li class="all engineering">
	<a id="link-dcmap" href="#project-dcmap" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Akamai Datacenter Maps
	</div>
      </li>

      <li class="all engineering design">
	<a id="link-youmote" href="#project-youmote" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Youmote
	</div>
      </li>


      <li class="all engineering design">
	<a id="link-quizlr" href="#project-quizlr" class="project_link">
	  <div class="image" >
	  </div>
	</a>
	<div class="project_text">
	  Quizlr
	</div>
      </li>

    </ul>


</div>
