<div id="project-pcr" class="panel content">
  
    <ul class="project-slideshow">
      <li class="selected" ><div></div><span></span></li>
      <li ><div></div><span></span></li>
    </ul>


  <div class="info_panel">

    <div class="ip_title">
Photo Character Recognition
    <div class="ip_icon">
    </div>
    </div>



    <div class="ip_content">
      I worked with several other members of the Stanford AI Labratory to develop an purely machine learning based algorithm algorithm to recognize text in photographs.  We developed a three step algorithm in which the first step detected regions of text in an image.  The second step attempted to recognize letters within this region and the third step would use the letter information to probabilistically infer a word.  The paper can be found <a href="http://robotics.stanford.edu/~ang/papers/icdar01-TextRecognitionUnsupervisedFeatureLearning.pdf"> here </a>.
    </div>

  </div>

</div>
