<div id="project-bphotography" class="panel content">
  
  <ul class="project-slideshow">
    <li class="selected" >
      <div></div>
      <span>
      </span>

    </li>
    <li>
      <div></div>
      <span>
      </span>


    </li>
  <li>
      <div></div>
      <span>
      </span>


    </li>

  <li>
      <div></div>
      <span>
      </span>


    </li>


  <li>
      <div></div>
      <span>
      </span>


    </li>

  <li>
      <div></div>
      <span>
      </span>


    </li>

  </ul>


  <div class="info_panel">

    <div class="ip_title">
Boston Photography
      <div class="ip_icon">
      </div>
    </div>



    <div class="ip_content">
      <p>
During a visit home to Boston, I wandered through the city to take some interesting photographs.  The bustle of Longfellow Bridge combined with the calming ambiance at sunset captured my attention.
      </p>
<br>
<p>
For more information, please visit Youmote's <a href="http://www.stanford.edu/~kennykao/cgi-bin/CS247-P4-Website/"> website</a>.
</p>
    </div>

  </div>

</div>
