<div id="work" class="panel content">

  <h2 class="title">Work</h2>
  <br>

  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-palantir"><span>Palantir</span></li>
      <li class="link select-akamai"><span>Akamai</span></li>
      <li class="link select-stair"><span>STAIR</span></li>
      <li class="link select-stanford"><span>Stanford</span></li>
    </ul>
    <br>
    <ul>
      <li>
	<div class="viewable_content palantir selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">

	    BULLSHIT
	    BULLSHIT
	    BULLSHIT

	    BULLSHIT

	    BULLSHIT

	    BULLSHIT
	  </div>
	</div>
      </li>
      <li>
	<div class="viewable_content akamai">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    FUCK SHIT

	  </div>
	</div>
      </li>
      <ul>

  </div>

</div>
