<div id="work" class="panel content">

  <h2 class="title">Work</h2>
  <br>

  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-palantir selected"><div class="logo_hook"></div><span>Palantir</span></li>
      <li class="link select-akamai"><div class="logo_hook"></div><span>Akamai</span></li>
      <li class="link select-sail"><div class="logo_hook"></div><span>SAIL</span></li>
      <li class="link select-stanford"><div class="logo_hook"></div><span>Stanford Teaching</span></li>
    </ul>
    <br>
    <ul>

      <!-- PALANTIR -->
      <li>
	<div class="viewable_content palantir selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <h1>Palantir</h1>

	    <p>
	      During the summer of 2011, I worked at Palantir as a business development intern on Team Delta.  I collaborated with engineers, analysts and former government specialists to develop product features that aid in tracking terrorists.
	    </p>

	    <!-- AKAMAI -->
	  </div>
	</div>
      </li>
      <li>
	<div class="viewable_content akamai">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <h1>Akamai</h1>
	    I interned at Akamai during the summers of 2007 and 2008 on the Network Infrastructure Engineering Team.  I developed tools that visualized the server layouts in data centers and allowed engineers to perform diagnostic tests on servers.
	  </div>
	</div>
      </li>

      <!-- SAIL -->

      <li>
	<div class="viewable_content sail">
	  <div class="image">
	  </div>
	  <div class="info">
	    <h1>Stanford Artificial Intelligence Labratory</h1>
	    For three years during my undergraduate study, I belonged to a research group that explored using machine learning techniques to solve vision and robotics problems.  We developed algorithms that allowed text detection in images and researched methods for robots to autonomously use elevators and work as cashiers.
	  </div>
	</div>
      </li>

      <!-- Stanford TAing -->
      <li>
	<div class="viewable_content stanford">
	  <div class="image">
	  </div>
	  <div class="info">
	    <h1>Stanford Teaching Assistant</h1>
	    While working towards my Master's Degree in Computer Science (2011-2013), I taught as a Computer Science Teaching Assistant.  I supported professors in teaching computer science courses including algorithms (CS161), graphics (CS148) and probability (CS109) courses and held weekly office hours to help clarify and reinforce the course material for students.
	  </div>
	</div>
      </li>
      <ul>
  </div>
</div>
