<div id="work" class="panel content">

  <h2 class="title">Work</h2>
  <br>

  <div class="content_viewer">
    <ul class="selectable_nav">
      <li class="link select-palantir selected"><div class="logo_hook"></div><span>Palantir</span></li>
      <li class="link select-akamai"><div class="logo_hook"></div><span>Akamai</span></li>
      <li class="link select-sail"><div class="logo_hook"></div><span>SAIL</span></li>
      <li class="link select-stanford"><div class="logo_hook"></div><span>Stanford Teaching</span></li>
    </ul>
    <br>
    <ul>

      <!-- PALANTIR -->
      <li>
	<div class="viewable_content palantir selected">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <h1>Palantir</h1>

	    <p>
	      I worked at Palantir during the Summer of 2011 as a Business Development Intern on Team Delta.  In this position I collaborated with engineers, deployed analysts and ex-government specialists to develp product features that would aid in the tracking of terrorists.
	    </p>

	    <!-- AKAMAI -->
	  </div>
	</div>
      </li>
      <li>
	<div class="viewable_content akamai">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	    <h1>Akamai</h1>
	    I worked at Akamai during the Summers of 2007 and 2008 as an intern on the Network Infrastructure Engineering Team.  In this position, I developed tools that visualized the server layouts in datacenters and allowed engineers to perform a series of diagnostic tests on servers.
	  </div>
	</div>
      </li>

      <!-- SAIL -->

      <li>
	<div class="viewable_content sail">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	  <h1>Stanford Artificial Intelligence Labratory</h1>
	  For three years during my undergraduate career, I was a member of a reasearch group that explored using machine learning techniques to solve various vision and robotics problems.  We developed algorithms that allowed text detection in images and researched methods for  robots to autonomusly use elevators and work as a cashiers.
	  </div>
	</div>
      </li>

      <!-- Stanford TAing -->

      <li>
	<div class="viewable_content stanford">
	  
	  <div class="image">
	  </div>

	  <div class="info">
	  <h1>Stanford Teaching Assistant</h1>
	  While working towards my Master's Degree in Computer Science (2011-2013), I also taught as a Computer Science Teaching Assistant.  I aided professors in teaching computer science courses such as algorithms (CS161), graphics (CS148) and probability (CS109) and would hold office hours to work with students to further their learning.
	  </div>
	</div>
      </li>




      <ul>

  </div>

</div>
