<div id="project-youmote">
<style>
#project-youmote .info_panel:hover
{
	height:500px;
}
</style>  

  <ul class="project-slideshow">
    <li class="selected" >
      <div></div>
      <span style='background-image: url(<%= image_path "projects/youmote/kinect.jpg" %>);'>
      </span>

    </li>

    <li>
      <div></div>
      <span style='background-image: url(<%= image_path "projects/youmote/youmote.jpg" %>);>
      </span>


    </li>
    <li>
      <div></div>
      <span style='background-image: url(<%= image_path "projects/youmote/info1.jpg" %>);'>
      </span>


    </li>
    <li>
      <div></div>
      <span style='background-image: url(<%= image_path "projects/youmote/info2.jpg" %>);'>
      </span>


    </li>


  </ul>


  <div class="info_panel">

    <div class="ip_title">
      Youmote
      <div class="ip_icon">
      </div>
    </div>



    <div class="ip_content">
      <p>
While in the second quarter of my master's program, I enrolled in CS247: Interaction Design Studio in which students were provided a Microsoft Kinect and instructed to incorporate it into a novel application.  My group focused on designing new ways to interact with the television.  We recognized that currently the users watch TV, yet with the Kinect technology, we could make the TV watch the users.  With this in mind, we used the Kinect's body detection to recognize when users entered the room, exited the room, fell asleep, received a phone call, raised their arm, or swiped their hand.  Upon detecting these situations, the application turned on or off TV, paused the TV or changed the TV's volume or channel.
      </p>
<br>
<p>
For more information, please visit Youmote's <a href="http://www.stanford.edu/~kennykao/cgi-bin/CS247-P4-Website/" target="_blank"> website</a>.
</p>
    </div>

  </div>
<script type="text/javascript">
      initProjectSlideShow();
      initContentViewers();
</script>
</div>
