// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	height:100%;
}
body {
	width: 100%;

}

.panel{


	position: absolute;
	visibility:hidden;
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}


.panel:target{
	opacity: 1;
	margin-top: 0%;
	visibility:visible;
}

.panel:target{
	opacity: 1;
}



body > div.content{
    right: 30px;
    left: 175px;
    top: 0px;
    position: absolute;
    padding-bottom: 0px;

}
body > div.content h2{
    float:right;
    width: 100%;
    text-align: right;
    font-size: 100px;
    margin-top: 11px;


}
body div.content br{
    clear: both;

}
